/* Mobile & Tablet  */
@media (max-width: 1023px) {
    .header {
        justify-content: start;
    }
    .header__logo {
        width: 90px;
     }
    .header__logo-img {
        height: 22px;
        width: 72px;
    }
    .header__navbar-lists {
        display: none;
    }
    .nav__dropdown {
        display: block;
    }

    /*secondary  */
    .secondary__navbar {
        margin-right: 15px;;
    }

    .secondary__navbar-items:not(:last-child) {
        margin-right: 13px;
    }

    .secondary__navbar-notification i {
        padding: 6px;
        font-size: 1.8rem; 
    }

    .secondary__navbar-account-img {
        width: 25px;
        height: 25px;
    }

    .secondary__navbar-account-icon {
        margin-left: 8px;
    }

    /* carousel info */
    

    .carousel__info-desc {
        display: none;
    }

    .carousel__info-btn {
        height: 36px;
    }
    
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 41px
    }
    .carousel__info {
        top: 40%;
        transform: translateY(40%);
    }
   
    .carousel__info-title h3 {
        font-size: 1.8rem;
        font-weight: 500;
        background: transparent;
    }

}

/* mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 41px
    }
    .carousel__info-title h3 {
        font-size: 1.5rem;
        font-weight: 500;
        background: transparent;
    }
    .carousel__info-btn {
        height: 30px;
        
    }
    
}